@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Poppins:wght@200;300;400&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Roboto+Condensed:ital@1&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto Condensed", sans-serif; */
}
.wrapper {
  /* border: 1px solid black; */
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-center a {
  text-decoration: none;
  color: green;
}
.tbl-full {
  width: 100%;
}
.tbl-30 {
  width: 50%;
}
table tr th {
  border-bottom: 1px solid black;
  padding: 1%;
  text-align: left;
}
table tr td {
  padding: 1%;
}
.btn-primary {
  background-color: #1e90ff;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.btn-primary:hover {
  background-color: #3742fa;
}
.btn-secondary {
  background-color: black;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.btn-secondary:hover {
  background-color: #2ed573;
}
.btn-danger {
  background-color: #ff6b81;
  padding: 1%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.btn-danger:hover {
  background-color: #ff4757;
}

.success {
  color: #2ed573;
}
.error {
  color: #ff4757;
}

/* css for menu */
.menu {
  border-bottom: 1px solid gray;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: inline;
  padding: 1%;
}
.menu ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #ff6b81;
}
.menu ul li a:hover {
  color: #ff4757;
}

/* css for main content */
.main-content {
  /* margin: 1% 0; */
  padding: 2% 0;
  background-color: #f1f2f6;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.col-4 {
  width: 20%;
  background-color: white;
  margin: 1%;
  padding: 2%;
}

/* css for footer */
.footer {
  background-color: #ff4757;
  color: white;
}

/* css for login */
.login {
  border: 1px solid gray;
  width: 50%;
  margin: 5% auto;
  padding: 2%;
}

.reg-form {
  width: 40%;
  background-color: rgb(243, 236, 236);
  margin: auto;
  margin-top: 200px;
  padding: 40px 0 40px 50px;
}
